.grid-container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 1px;
  width: 203px;
  height: 203px;
}

/* TODO #1: Complete the CSS implementation */
/* create an 8x8 grid of checkerboard squares */
.white {
  height: 100px;
  width: 100px;
  background-color: white;
}
.black {
  height: 100px;
  width: 100px;
  background-color: black;
}

.white:hover, .black:hover{
  background-color: red;
}

.enlarged-text {
  font-size: 35px; 
}





